.bg-color-section-primary {
  background: $color-blue;
}
// .footer-flex {
//   display: flex;
//   gap: 1;
// }

.footer {
  display: flex;
  flex-direction: column;

  border: 1px solid red;
  &__container {
    width: 100%;
  }

  &__left {
    width: 480px;
  }
  &__right {
    width: 591px;
    align-content: flex-end;
  }
  &__logo {
    font-size: 2rem;
    font-weight: 800;
  }
  &__productx {
    color: #fff;
  }
  &__platform {
    color: $color-orange;
  }
  p {
    font-weight: 400;
    font-size: 1.25rem;
    color: #fff;
  }
}

.footer-details {
  background-color: $color-darkblue;
  height: 151px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
}

.even-columns {
  background-color: $color-blue;
  height: 317px;
  display: flex;
  align-items: center;
  justify-items: center;

  //   align-items: center;
}
