$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$fs-300: 0.8125rem;
$fs-400: 1rem;
$fs-500: 0.9375rem;
$fs-600: 1rem;
$fs-700: 2.25rem;
$fs-800: 2rem;
$fs-900: 3.5rem;

$fs-600-product: 1.25rem;

$fs-400-footer: 1.25rem;
$fs-400-footer_btn: 1.5rem;
$fs-800-textlogo: 2rem;
$ff-primary: "Inter", sans-serif;
